extends ../layouts/main_layout.jade

block logo
	a(href="javascript:void(0)").logo
		img(src="img/logo.png", alt="logo").logo__img
		
block content
	h1.h1
		.h1__minText Строительство домов по уникальной технологии
		.h1__bigText Рациональная система съемной опалубки
	ul.redMenu
		li.redMenu__item
			a(href="").redMenu__link Что такое «Пассивный дом»
		li.redMenu__item
			a(href="").redMenu__link Опалубка

	.column.column_left
		.text-info
			h2.text-info__title Как мы работаем
			p.text-info__text Cтроим здания по&nbsp;высокоэффективной технологии, используя монолитные стены железобетонной конструкции с&nbsp;двух сторон с&nbsp;большим количеством утеплителя между ними. Благодаря нашей технологии, эксплуатационные характеристики зданий возрастают многократно, а&nbsp;время строиельства и&nbsp;расходы сокращаются.
		.text-info
			h2.text-info__title Технология
			img(src="img/text-info__img1.png", alt="tehnochology").text-info__img
			p.text-info__text.text-info__text_min Мы&nbsp;сторим долговечные и&nbsp;теплоэффективнфые дома по&nbsp;нашей уникальной
					a(href="").text-info__link  запотентованной технологии
	.column.column_right
		.text-info
			h2.text-info__title Оказываем услуги
			p.text-info__text Проектирование и&nbsp;строительство зданий по&nbsp;авторской технологии
			p.text-info__text Передача технологии на&nbsp;условиях лицензионного соглашения
			p.text-info__text Изготовление и&nbsp;поставка заказчику специально разработанного оборудования
			p.text-info__text Производство и&nbsp;поставка материалов в&nbsp;любой регион&nbsp;РФ
			p.text-info__text Обучение дилеров и&nbsp;партнеров
	.content__img
		img(src="img/bg1.png", alt="example").content__img_block
