extends ../layouts/main_layout.jade

block title
  title Технология
  
block menu
  -var selected = 'Технология';
  
block content
  .column.column_one
    h1.h1
      .h1__bigText Технология
      
    .text-info.text-info_margin
      h2.text-info__title.text-info__title_big Выгодные отличия энергоэффективных домов:
      ul.text-info__list
        li.text-info__li а) Cокращение энергопотребления;
      ul.text-info__list
        li.text-info__li б) Комфортный микроклимат внутри помещения, исключающий перепады температур воздуха;
      ul.text-info__list
        li.text-info__li в) Всегда стабильную влажность воздуха;
      ul.text-info__list
        li.text-info__li г) Снижение выбросов парниковых газов в атмосферу.
        
    .text-info
      h2.text-info__title.text-info__title_big Выгодные отличия энергоэффективных домов:
      p.text-info__text.text-info__text_big Монолитный и&nbsp;самый тёплый дом &minus; кажется неправдоподобным. Все знают, что бетон является холодным строительным материалом, почти не&nbsp;обладающим теплоизолирующими свойствами. Так почему&nbsp;же наша монолитная стена самая тёплая?
      p.text-info__text.text-info__text_big Высокая теплоэффективность достигается посредством применения большого количества утеплителя толщиной от&nbsp;30&nbsp;см, который монтируется внутрь стены и&nbsp;закрывается бетоном с&nbsp;двух сторон. Связи наружных и&nbsp;внутренних стен осуществляются углепластиковой арматурой, которая в&nbsp;свою очередь не&nbsp;разрушается под воздействием влаги и&nbsp;в&nbsp;десятки раз превосходит стальную по&nbsp;теплосбережению. Гораздо эффективнее и&nbsp;дешевле использовать теплоизоляцию, не&nbsp;делая из&nbsp;нее несущую конструкцию. Любой строительный материал, который совмещает в&nbsp;себе функции и&nbsp;несущей конструкции и&nbsp;теплоизоляции, всегда плохо справляется с&nbsp;обеими. К&nbsp;таким материалам можно отнести кирпич, пенобетон, дерево и&nbsp;прочее. К&nbsp;примеру, современные нормы по&nbsp;теплоизоляции обеспечивают: 10&nbsp;см пенополиуретана, или 15&nbsp;см базальтовой плиты, или 60&nbsp;см дерева или пенобетона, или 210&nbsp;см полнотелого кирпича. Это означает, что &laquo;тёплые&raquo; деревянные дома не&nbsp;укладываются в&nbsp;современные нормы по&nbsp;теплоизоляции в&nbsp;4&nbsp;раза.
      p.text-info__text.text-info__text_big Дома, построенные по&nbsp;технологии ТОИС, в&nbsp;отличие от&nbsp;тех, что построены по&nbsp;другим технологиям, не&nbsp;имеют мостиков холода(участков ограждающей конструкции здания имеющих пониженное термическое сопротивление). Внутренние стены полностью изолированы со&nbsp;всех сторон и&nbsp;имеют комнатную температуру. При других видах строительства это сделать либо невозможно, либо очень дорого. Везде можно выявить слабые места: фундамент и&nbsp;пол первого этажа касаются холодного грунта, плиты перекрытия выходят на&nbsp;улицу, оконные откосы промерзают, металлические связи наружных и&nbsp;внутренних стен. Наши дома являются самыми тепtлыми, так как внутренний монолитный каркас дома полностью отсечён от&nbsp;улицы толстым слоем утеплителя и&nbsp;имеет комнатную температуру.
      p.text-info__text.text-info__text_big Реальные затраты на&nbsp;отопление наших домов настолько малы, что для комфортного проживания в&nbsp;доме 300&nbsp;м.&nbsp;кв. достаточно 15&nbsp;кВт. на&nbsp;всех потребителей суммарной электрической мощности, включая освещение, бытовые приборы и&nbsp;отопление.
      
  img(src="img/tech_img.jpg", alt="Технология").img_tech
