header.header
	.wrapp

		block logo
			a(href="index.html").logo
				img(src="img/logo.png", alt="logo").logo__img

		address.contacts
			a(href="tel:+74957990371").contacts__phone +7 495 799 0371
			.contacts__addr 109387, г. Москва, ул. Тихая, д. 33, стр. 1

		block menu
		-var menu = { 'О компании': 'about.html', 'Технология': 'technology.html', 'Услуги': 'servises.html', 'Контакты': 'contacts.html' }
		ul.menu
			each val, key in menu
				if selected === key
					li.menu__item
						a.menu__link.menu__link_active(href=val)= key
				else
					li.menu__item
						a.menu__link(href=val)= key
