header.header
	.wrapp
		a(href="").logo
			img(src="img/logo.png", alt="logo").logo__img
		address.contacts
			a(href="tel:+74957990371").contacts__phone +7 495 799 0371
			.contacts__addr 109387, г. Москва, ул. Тихая, д. 33, стр. 1
		ul.menu
			li.menu__item
				a(href="").menu__link О компании
			li.menu__item
				a(href="").menu__link Технология
			li.menu__item
				a(href="").menu__link Услуги
			li.menu__item
				a(href="").menu__link Контакты

